@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: 'Inter',sans-serif;
  }

  @keyframes border-pulse {
    0% {
      border-color: red;
    }
    50% {
      border-color: aqua;
    }
    100% {
      border-color: #00ff00;
    }
  }

  .bg-twinkling {
    background-image: url('/src/assets/twincle.png'); /* Replace with twinkling star image URL */
  }
  
  /* Star motion animations */
  @keyframes move-stars {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }
  
  
  